.custom-button {
  background: #6763e3 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  i {
    font-size: 20px;
  }
}
.custom-select{
    border: none;
    background-color: white;
    border-radius: 5px;

}